<h3>단순 for으로 출력</h3>
<% for(let i=0; i<rank.length; i++) {%> <%= rank[i] %><br> <%}%>
<hr>
<h3>이중 for으로 출력</h3>
<table border="1">
    <% for(let i=0; i < rank.length ; i++){%>
    <tr>
        <% for(let k=0; k < rank[i].length ; k++){ %>
        <td><%= rank[i][k] %></td>
        <% } %>
    </tr>
    <% } %>
    </table>
</table>

    
    
