login 페이지 입니다.<br>

<a href="/">index</a>
<a href="logout">logout</a>
<hr>
<%= n %>            <!-- =이 있으면 바로 보여지는 것을 뜻함 -->
<% const msg = "java script언어만 사용가능"; %>    <!-- =이 없으면 무언가를 설정 한다라는 것을 뜻함-->
<% const arr = [10, 20, 30]; %>
<%= msg %><br>
<%= arr %><br>
<%= arr[0] %>


